{% extends 'templates/base.html' %}
{%load static%}

{% block title %}Add a Task{% endblock %}

{% block content %}
<h1 style='font-size:40px; color:yellow'>Be Productive for LeBron!</h1>

<a style = 'color:yellow;' href='{% url "tasks-app-admin"%}'><img src='{%static "Add Tasks Button.png" %}'width=25 height=25> Add Tasks </a>

<ul style='font-size:18px; color:yellow;'>
    {% for todo in todos %}
    <li>
      {{todo.title}}: {%if todo.completed %} <img src='{% static "Lebron Happy.jpg" %}' width=75 height=50> {%else%} <img src='{% static "Lebron Sad.jpg" %}' width=75 height=50> {%endif%}
    </li>
    {%endfor%}
</ul>
{%endblock%}